<!doctype html>
<html>
<head>
  <title>Game Form</title>
</head>
<body>
    Please provide or select from the following information: <br>

    <form action="/madlibs">
        <p>What is your name?</p>
            
                <input type="text" name="myname">
           
       <div>
        Noun (Please select from the following options): <br>
       <select name="noun">
            <option value= "book">Book</option>
            <option value= "pillow">Pillow</option>
            <option value= "sweater">Sweater</option>
            <option value= "Mouse">Mouse</option><br>
        </select>
        </div><br>
        
            <p> Please select a color</p><br>
            <input type="radio" name="color" value="blue">blue
            <input type="radio" name="color" value="green">green
            <input type="radio" name="color" value="red">red<br>
        
        <input type="submit">
    
    </form>


</body>
</html>